@import '~react-image-gallery/styles/scss/image-gallery.scss';
@import './variables';
.gallery {
  // background-image: radial-gradient($red, $blue);
}
.slider {
  margin: 0 auto;
  //   width: 85%;
  height: 600px;
  display: flex;
  justify-content: center;
  text-align: center;

  &__wrapper {
    width: 100%;
  }
  &__images {
    width: auto;
    max-height: 100%;
  }
}
