@import './variables';
.nav {
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: start;
  background-color: #151b1b;
  background-color: transparent;

  &__color {
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: start;
    background-color: #151b1b;
  }
  &__wrapper {
    display: flex;
    // height: 100%;
    flex: 1 1 100%;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    width: min-content;

    // border: 1px solid red;
    filter: drop-shadow(1px 1px 1px white);
    & img {
      width: 10%;
      min-width: 150px;
    }
  }
  &__links {
    position: relative;
    list-style: none;
    display: flex;
    min-width: 40%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    @media screen and (max-width: 767px) {
      flex-direction: column;
      background-color: #151b1b;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 100%;
      width: 100vw;
      height: 100vh;
      align-items: center;
      justify-content: start;
      padding: 2rem 0;
      transition: all 0.3s;
    }
    &-visible {
      list-style: none;
      display: flex;
      flex-direction: column;
      background-color: #151b1b;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0%;
      width: 100vw;
      height: 100vh;
      align-items: center;
      justify-content: start;
      padding: 2rem 0;
      transition: all 0.3s;
    }
  }
  &__item {
    @media screen and (max-width: 767px) {
      padding: 1.5rem;
    }
  }
  &__link {
    position: relative;
    text-decoration: none;
    color: $blue;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 200;
    display: inline-block;

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      transform: scaleX(0);
      background-color: white;
      bottom: 0;
      left: 0%;
      transition: all 0.3s;
    }
    &:hover,
    :focus {
      text-decoration: none;
      color: white;
      &:after {
        content: '';
        transition: 0.3s all;
        transform: scaleX(1);
      }
    }
  }
  &__mobile-toggler {
    cursor: pointer;
    font-size: 2rem;
    width: min-content;
    position: absolute;
    z-index: 100;
    top: 0;
    right: 15px;
    color: $blue;
  }
}
